/* PROPRIETES GENERALES DU SITE */

body
{
    font-family: Raleway, sans-serif;
}

*
{
       margin: 0;
}


   /* EN TÊTE DU SITE */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 50px;
    margin-bottom: 30px;
}


#logo
{
    align-self: flex-end;
}

#menu
{
    display: flex;
    font-size: 1rem;
}

#menu a
{
    text-decoration: none;
}

nav ul
{
    display: flex;
    list-style-type: none;
    padding-bottom: 25px;
}

nav li
{
    
    padding: 45px 35px 0 35px;
    margin: 0;
    border-top: 2.5px transparent solid;
}

nav a
{
    color: black;
}

nav li:hover
{
    border-top: 2.5px #0065fc solid;
    color: #0065fc;
}

#subscribe
{
    margin: 0;
    padding: 0 0 20px 0;
}

#subscribe p
{
    padding: 45px 0 0 35px;
    margin-top: 2.5px;
}

#subscribe a
{
    color: #0065fc;
    font-weight: bold;
}

#subscribe a:visited
{
    color: #0065fc;
}

@media screen and (max-width: 768px) /* PARTIE RESPONSIVE HEADER */
{

    header
    {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    #menu
    {
       display: flex;
       flex-wrap: wrap;
       flex-direction: column-reverse;
       width: 100%;
    }

    #logo
    {
        position: absolute;
        padding: 25px 0 0 20px;
        align-self: flex-start;

    }

    nav ul
    {
        padding: 25px 0 0 0;
        margin: 0;
    }

    nav li
    {
        width: 100%;
        text-align: center;
        padding: 0 0 20px 0;
        margin: 0;
        border-top: 0px transparent solid;
        border-bottom: 2px #F2F2F2 solid;
    }

    nav li:hover
    {
        border-top: 0px transparent solid;
        border-bottom: 2px #0065fc solid;
        color: #0065fc;
    }

    nav li a
    {
        border: 0px transparent solid;
    }

    #subscribe
    {
        margin: 0;
        padding: 25px 0 0 0;
    }
    
    #subscribe p
    {
        text-align: right;
        padding: 15px 30px 15px 0;
    }
}

/* SECTION 1 : BARRE DE RECHERCHE ET FILTRES */

#search_section
{
    padding: 0 55px 0 55px;
    margin-bottom: 40px;
}

#intro_search
{
    margin: 35px 0 20px 0;
}

#intro_search h1
{
    font-size: 1.37rem;
    margin: 0 0 8px 0;
}

#intro_search p
{
    font-size: 1rem;
}

#searchbar_area /* barre de recherche */
{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
}

#searchbar_area #map_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 0px 18px 0px 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchbar
{
    width: 240px;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px #F2F2F2 solid;
    padding-left: 15px;
    outline: none;
}

#searchbar_area button
{
    color: white;
    font-size: 1.1rem;
    background-color: #0065fc;
    padding: 0 20px 0 20px;
    border: 1px #0065fc solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
    cursor: pointer;
}

#search_button_icon
{
    display: none;
}

#filters_area /* filtres */
{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

#filters_title
{
    margin: 0 0 10px 0;
}

#filters_area ul
{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.category_button
{
    padding: 0 10px 0 0;
    margin: 0 35px 10px 0;
    border: 1px #D1D1D1 solid;
    border-radius: 20rem;
    cursor: pointer;
}

.category_button:hover
{
    color: #0065fc;
    transform: scale(1.1);
}

.category_button label
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category_button .filter_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5px;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-right: 12px;
}

.filter_icon i
{
    margin: 0;
    color: #0065fc;
}

.category_button input[type=checkbox] 
{
    display: none;
}

#info
{
    margin-left: 5px;
}

#info p
{
    font-size: 1rem;
    display: flex;
    align-items: center;
}

#info i
{
    margin-right: 15px;
    padding: 4px 7px 4px 7px;
    color: #0065fc;
    border: 1px #D1D1D1 solid;
    border-radius: 50%;
}

@media screen and (max-width: 600px) /* PARTIE RESPONSIVE SECTION 1 */
{   
    #searchbar
    {
        padding-right: 20px;
    }

    #searchbar_area button
    {
        position: relative;
        left: -20px;
        padding: 0 12px 0 12px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    #search_button_icon
    {
        display: flex;
    }

    #search_button_label
    {
        display: none;
    }

    #filters_area
    {
        flex-wrap: wrap;
        padding-top: 10px;
    }

    #filters_area ul
    {
        padding: 0;
    }

    #filters_area li
    {
        margin-top: 10px;
    }

    #info p
    {
        align-items: flex-start;
    }

}


/* MAIN: HEBERGMENTS */

main
{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 40px 45px;;
}

main h2
{
    font-size: 1.4rem;
    margin-bottom: 25px;
}

main h3
{
    color: black;
    font-size: 1.1vw;
    margin-bottom: 5px;
}

main a
{
    text-decoration: none;
}

main figure
{
    box-shadow: 3px 2px 20px grey;
}

main figure:hover
{
    transform: scale(1.03);
}

main figcaption
{
    display: flex;
    flex-direction: column;
}

.price, .rating
{
    color: black;
    font-size: 1vw;
}

.price span
{
   font-weight: bold;
}

.blue_star
{
    color: #0065fc;
}

.grey_star
{
    color: #D1D1D1;
}

#marseille_properties /* hébergements à Marseille */
{
    width: 66%;
    background-color: #F2F2F2;
    padding: 40px 0px 20px 0;
    margin-right: 30px;
    border-radius: 20px;
}

#marseille_properties_title
{
    padding-left: 30px;
}

#marseille_properties_list
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#marseille_properties_list .property_box
{
    margin-bottom: 20px;
}

#marseille_properties_list figure
{
    background-color: white;
    width: 17vw;
    height: 13vw;
    padding: 4px;
    border-radius: 20px;
}

#marseille_properties_list figure img
{
    width: 100%;
    height: 57%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#marseille_properties_list figcaption
{
    padding: 5px 5px 5px 15px;
}

#marseille_properties_list .price
{
    margin-bottom: 7px;
}

#marseille_properties #load_more
{
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 30px;
}

#marseille_properties #load_more a
{
    color: black;
}

aside /* Les plus populaires */
{
    width: 27%;
    background-color: #F2F2F2;
    padding: 40px 30px 10px 30px;
    border-radius: 20px;
}

#marseille_mostpopular_title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#marseille_mostpopular_title i
{
    font-size: 1.3rem;
    padding-left: 15px;
    margin-bottom: 25px;
}

#marseille_mostpopular_list ol
{
    list-style-type: none;
    padding: 0;
}

#marseille_mostpopular_list figure
{
    width: auto;
    height: 10vw;
    background-color: white;
    display: flex;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#marseille_mostpopular_list img
{
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#marseille_mostpopular_list figcaption
{
    display: flex;
    flex-direction: column;
    padding: 8px 20px 8px 10px;
}

#marseille_mostpopular_list .rating
{
    margin-top: auto;
}

@media screen and (max-width: 991px)
{
    main
    {
        flex-direction: column-reverse;
    }
    
    main h3
    {
        font-size: 1.4vw;
    }

    .price, .rating
    {
        font-size: 1.2vw;
    }

    aside
    {
        width: auto;
        margin-bottom: 30px;
    }

    #marseille_mostpopular_list ol
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #marseille_mostpopular_list figure
    {
        width: 26vw;
        height: 12vw;
    }


    #marseille_properties
    {
        width: 100%;
    }

    #marseille_properties_list
    {
        padding: 0 30px 0 30px;
    }

    #marseille_properties_list figure
    {
    width: 24vw;
    height: 17vw;
    }
}

@media screen and (max-width: 768px)
{
    #marseille_properties_list figure
    {
    width: 34vw;
    height: 22vw;
    }

    #marseille_properties_list h3
    {
        font-size: 1.7vw;
    }

    #marseille_properties_list .price, #marseille_properties_list .rating
    {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 600px)
{
    main
    {
        margin: 0 0 30px 0;
    }

    aside
    {
        border-radius: 0;
    }

    aside h3
    {
        font-size: 3vw;
    }

    aside .price, aside .rating
    {
        font-size: 2.8vw;
    }

    #marseille_mostpopular_list ol
    {
        flex-direction: column;
    }

    #marseille_mostpopular_list figure
    {
        width: 100%;
        height: 25vw;
        margin-right: 0;
    }

    #marseille_properties
    {
        border-radius: 0;
        background-color: white;
    }

    #marseille_properties_list figure
    {
        width: 36vw;
        height: 30vw;
    }

    #marseille_properties_list h3
    {
        font-size: 2.5vw;
    }

    #marseille_properties_list .price, #marseille_properties_list .rating
    {
        font-size: 2.3vw;
    }

    #marseille_properties_list figure
    {
        width: 100%;
        height: 45vw;
    }

    #marseille_properties_list figure img
    {
        height: 65%;
    }

    #marseille_properties_list h3
    {
        font-size: 3vw;
    }

    #marseille_properties_list .price, #marseille_properties_list .rating
    {
        font-size: 2.8vw;
    }

}

/* SECTION 3 : ACTIVITES */

#activities_section
{
    padding: 0 40px 0 40px;
    margin-bottom: 40px;
}

#activities_title h2
{
    font-size: 1.4em;
    margin-bottom: 25px;
}

#activities_list
{
    height: auto;
    display: flex;
    justify-content: space-between;
}

#activities_list .activity_column
{
    height: 33vw;
    width: 25%;
}

#activities_list .activity_box
{
    width: 100%;
}

#activities_list figure
{
    border-radius: 20px;
    box-shadow: 3px 2px 20px grey;
}

#activities_list figure img
{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities_list figure:hover
{
    transform: scale(1.03);
}

#activities_list a
{
    text-decoration: none;
}

#activities_list figcaption
{
    padding: 0.6vw 1vw;
}

#activities_list h3
{
    color: black;
    font-size: 1.2vw;
}

/* propriétés des colonnes */
#activities_column_1, #activities_column_2, #activities_column_3
{
    margin-right: 3.2vw;
}

#activities_column_2, #activities_column_4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* propriétés des cartes d'activité */

.activity_box figure
{
    height: 100%;
}

#activities_box_1, #activities_box_4 /* colonnes 1 et 2*/
{
    height: 100%;
}

#activities_box_1 img, #activities_box_4 img
{
    height: 90%;
}

#activities_box_2 /* colonne 2*/
{
    height: 52%;
}

#activities_box_2 img
{
    height: 81%;
}

#activities_box_3
{
    height: 38%;
}

#activities_box_3 img
{
    height: 74%;
}

#activities_box_5 /* colonne 4 */
{
    height: 43%;
    margin-bottom: 10%;
}

#activities_box_5 img
{
    height: 76%;
}

#activities_box_6
{
    height: 47%;
}

#activities_box_6 img
{
    height: 78%;
}

@media screen and (max-width: 768px)
{
    #activities_list h3
    {
        font-size: 1.7vw;
        padding-left: 2vw;
    }
    
    #activities_list
    {
        display: flex;
        flex-wrap: wrap;
    }

    #activities_list .activity_column
    {
        width: 45%;
        height: 40vw;
    }

    #activities_column_1, #activities_column_2
    {
        margin: 0 0 5vw 0;
    }
}

@media screen and (max-width: 500px)
{
    #activities_list
    {
        flex-direction: column;
        justify-content: space-between;
    }

    #activities_list h3
    {
        font-size: 3vw;
        padding: 1.5vw 2vw;
    }

    #activities_list .activity_column
    {
        width: 100%;
        height: auto;
        margin: 0;
    }

    #activities_list figure
    {
        height: 45vw;
        margin-bottom: 5vw;
    }

    #activities_list figure img
    {
        height: 80%;
    }

    #activities_box_2
    {
        margin: 0;
    }

    #activities_box_5
    {
        margin: 0;
    }
}

/* PIED DE PAGE */

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 30px 40px 30px 40px;
}

footer div
{
    margin-right: 12vw;
}

footer h2
{
    font-size: 1em;
    margin-bottom: 15px;
}

footer ul
{
    list-style-type: none;
    padding: 0;
}

footer li
{
    font-size: 0.9em;
    margin-bottom: 10px;
}

footer li a
{
    color: black;
    text-decoration: none;
}

footer li a:hover
{
    text-decoration: underline;
}

@media screen and (max-width: 991px)
{
    footer div
{
    margin-right: 10vw;
}
}

@media screen and (max-width: 798px)
{
    footer
    {
        flex-wrap: wrap;
    }

    footer div
    {
        margin-bottom: 5vw;
    }
}

@media screen and (max-width: 500px)
{
    footer div
    {
        width: 100%;
    }
}